<div class="container">
    <div class="row">
        <div class="col-lg-12 content">
            <p class="font-weight-bold">Thể thệ trò chơi: </p>
            <p>Người chơi cần đăng nhập vào ví Metamask và nhập tên nhấn nút đăng ký, lúc này người chơi sẽ gửi vào hệ
                thống 0.1 ETH. Sau khoảng thời gian đếm ngược hệ thống sẽ lấy ra ngẫu nhiên 1 người trúng thưởng với
                phần thưởng là 1 ETH</p>
        </div>
        <div class="col-lg-12 content">
            <h2>Đếm ngược</h2>
            <div class="count-down">Count down</div>
        </div>
        <div class="col-lg-12 content">
            <h2>Danh sách người đăng ký chơi</h2>
        </div>
        <div class="col-lg-12 content">
            <div class="form-group">
                <label for="name">Tên: </label>
                <input type="text" class="form-control text-name" id="name" name="name">
            </div>
            <button type="submit" class="btn btn-primary button-standard" id="register">Đăng ký chơi</button>
        </div>
    </div>
</div>