<div class="search-content mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="exampleInputEmail1">Search</label>
            <input type="text" class="form-control" id="textSearch" name="text-search">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

